.courseDM {
    background: url(../images/中階DM_S.png) center / 100% no-repeat;
    height: 400px;
}

@include media-breakpoint-up(lg) {
    .courseDM {
        background: url(../images/中階DM_L.png) center/ 100% no-repeat;
        height: 572px;
    }
}