.liner-01 {
    height: 10px;
    background: url(/images/gradi_01.png) center center repeat;
    margin: -1px 0;
}

.liner-02 {
    height: 10px;
    background: url(/images/gradi_02.png) center center repeat;
    margin: -1px 0;
}