@font-face {
    font-family: genyogothictw;
    src: url('../font/jf-openhuninn-1.1.ttf');
}

body {
    font-family: genyogothictw, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}